<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="500000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\Debug\netcoreapp3.1\Touch.Api.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="DB_CONNECTION_STRING" value="Password=NoTanSecretaComoCrees!;Persist Security Info=True;User ID=touch-test-admin;Initial Catalog=touch-test-mssql;Server=tcp:200.10.96.221;MultipleActiveResultSets=True;" />
          <environmentVariable name="STORAGE_MAIN_FOLDER" value="media" />
          <environmentVariable name="STORAGE_CONNECTION_STRING" value="c:\simplisales\" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="STORAGE_ENVIRONMENT" value="Local" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>